body{
    display: flex;
    flex-direction: column;
}

.el{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}
